<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Categorías</title>
</head>
<body>
    
    <% include ../views/menu.ejs %>

    <div class="container mt-5">
        <h2>Categorías</h2>
        <form action="/categorias/add" method="POST">
            <input type="text" name="categoria" placeholder="Categoría" required />
            <button type="submit">Agregar Categoría</button>
        </form>

        <table class="table mt-3">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Categoría</th>
                </tr>
            </thead>
            <tbody>
            

                            <% categorias.forEach(categoria => { %>
                    <tr>
                        <td><%= categoria.id %></td>
                        <td><%= categoria.categoria %></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </div>
</body>
</html>

